@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box; }

/* BARRA DE NAVEGACION */
.navbar {
  background-color: #e30000 !important;
  border-style: none;
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.1), 0 2px 4px 2px rgba(0, 0, 0, 0.06); }

.cont-img-logo-nav {
  display: flex;
  align-items: center;
  height: 64px;
  margin-left: 6rem; }

.dropdown-menu[data-bs-popper] {
  background-color: #b50101;
  left: auto;
  right: 4rem; }
  .dropdown-menu[data-bs-popper] .dropdown-item {
    text-align: center;
    color: #fff; }
  .dropdown-menu[data-bs-popper] .dropdown-item:hover {
    background-color: #8b0000; }

.navbar-nav {
  text-align: center; }

.logo-bocata {
  width: 110px; }

.navbar-brand {
  margin-left: 40px; }

.nav-link {
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  margin-right: 32px; }

.navbar-expand-lg .navbar-collapse {
  flex-direction: row-reverse;
  margin-right: 5rem; }

/* INICIO-CARROUSEL 1 */
.cont-cont-carrousel {
  background-color: #bd0000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; }

.cont-carrousel {
  width: 1600px;
  height: auto; }

.carousel-item {
  width: 100%;
  height: 650px; }
  .carousel-item img {
    height: 100%;
    object-fit: cover; }

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  margin-top: -2%;
  padding: 0; }
  main h1 {
    font-family: "Poppins" sans-serif;
    font-weight: 700;
    text-align: start;
    font-size: 5.4rem; }
  main img {
    width: 490px;
    height: 532px; }

.cont-texto {
  margin-top: 20px;
  margin-left: 120px;
  padding: 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 860px;
  height: 600px; }
  .cont-texto svg {
    position: absolute;
    right: 0;
    bottom: -42rem;
    z-index: -1; }
  .cont-texto .boton {
    font-family: "Poppins" sans-serif;
    font-weight: 500;
    width: 180px;
    font-size: 1.5rem;
    background-color: #202020;
    color: #fff;
    border-radius: 6px;
    padding: 6px 8px;
    border-style: none;
    transition: 0.3s ease-in-out; }
    .cont-texto .boton:hover {
      background-color: #910000;
      color: #fff; }

.section-2 {
  margin-bottom: 20px; }
  .section-2 .img-bocata-p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 250px;
    background: linear-gradient(rgba(0, 0, 0, 0.563), rgba(0, 0, 0, 0.601)), url("https://cdn.discordapp.com/attachments/1228542950636781569/1232881116734820363/BANER-FONDO-HOME.jpg?ex=662b1184&is=6629c004&hm=9d51fbea8bdec887c84523dddb840c2912aad9c1d3ea86ce1313c06ab22fcab0&");
    background-position: top;
    background-attachment: fixed; }
    .section-2 .img-bocata-p h1 {
      color: white;
      font-family: "Poppins" sans-serif;
      font-weight: 700;
      text-align: start;
      font-size: 10rem; }

.cont-imbatibles {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  z-index: 1111;
  overflow: hidden; }
  .cont-imbatibles .svg-1 {
    position: absolute;
    width: 2000px;
    right: 0;
    bottom: -16rem; }
  .cont-imbatibles .s-imbatibles {
    display: flex;
    justify-content: start;
    width: 900px;
    margin-left: 10rem;
    z-index: 1111; }
    .cont-imbatibles .s-imbatibles h1 {
      font-family: "Poppins" sans-serif;
      font-weight: 700;
      text-align: start;
      font-size: 5rem; }
  .cont-imbatibles .img-promocion {
    margin-left: 2rem;
    width: 200px;
    height: auto;
    z-index: 1; }

.cont-cont-carrousel2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; }
  .cont-cont-carrousel2 .svg-2 {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: -5rem;
    z-index: -1; }
  .cont-cont-carrousel2 .carousel-control-next-icon, .cont-cont-carrousel2 .carousel-control-prev-icon {
    background-color: #ffffffa6;
    border-radius: 20px; }
  .cont-cont-carrousel2 .carousel-control-next-icon {
    color: black;
    background-color: black;
    padding: 10px; }
  .cont-cont-carrousel2 .carousel-control-prev-icon {
    color: black;
    background-color: black;
    padding: 10px; }
  .cont-cont-carrousel2 .carousel-item {
    border: solid 2px;
    width: 1000px;
    height: auto;
    transition: none;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 41px 6px 2px 4px rgba(0, 0, 0, 0.75);
    z-index: 1; }
    .cont-cont-carrousel2 .carousel-item img {
      height: 100%;
      object-fit: cover; }

.cont-btn-carrou-2 {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 20px;
  background: #f90000;
  z-index: 99999; }
  .cont-btn-carrou-2 button {
    background-color: #ec0000;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    border: solid 2px #202020;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 6px 4px 2px 2px black; }
  .cont-btn-carrou-2 button:active {
    box-shadow: 2px 2px 2px 2px black; }

.cont-ubicados {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.563), rgba(0, 0, 0, 0.601)), url("https://images.unsplash.com/photo-1578916171728-46686eac8d58?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-attachment: fixed;
  height: 200px; }
  .cont-ubicados h1 {
    color: #fff;
    font-size: 6.2rem;
    font-weight: 700; }

.ubicados {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  flex-wrap: wrap; }
  .ubicados .mapa-iframe-ubicacion {
    border-radius: 10px;
    border: solid 2px #000; }
  .ubicados .ubicados-aside {
    display: flex;
    align-self: start;
    justify-self: start;
    flex-direction: column;
    text-align: center;
    width: 600px; }
    .ubicados .ubicados-aside .draw-1 {
      position: relative;
      left: 4rem;
      margin-top: 20px;
      width: 600px;
      height: auto; }
    .ubicados .ubicados-aside h1 {
      font-weight: 600;
      font-size: 32px; }
    .ubicados .ubicados-aside .h1-esperamos {
      margin-top: 10px;
      font-weight: 700;
      font-size: 2.2rem; }
    .ubicados .ubicados-aside .btn-mailing {
      margin-bottom: 10px;
      background-color: #ec0000;
      color: #fff;
      font-size: 1.2rem;
      font-weight: 600;
      border: solid 2px #202020;
      border-radius: 10px;
      padding: 10px;
      width: 190px;
      box-shadow: 6px 4px 2px 2px black; }
    .ubicados .ubicados-aside .btn-mailing:active {
      box-shadow: 2px 2px 1px 1px black; }

footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ab0000;
  height: 200px; }
  footer img {
    width: 150px; }
  footer .itemf-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    width: 220px; }
    footer .itemf-1 a {
      display: flex;
      align-items: center;
      color: #fff !important;
      font-size: 20px;
      text-align: center;
      align-self: center; }
    footer .itemf-1 .icon-footer {
      width: 26px;
      margin-right: 10px;
      vertical-align: middle; }
    footer .itemf-1 ul {
      color: #fff;
      list-style: none; }
      footer .itemf-1 ul li {
        font-size: 14px;
        text-align: center;
        color: #fff; }
  footer .itemf-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    width: 220px; }
    footer .itemf-2 a {
      display: flex;
      align-items: center;
      color: #fff !important;
      font-size: 20px;
      text-align: center;
      align-self: center; }
    footer .itemf-2 .icon-footer {
      width: 26px;
      margin-right: 10px;
      vertical-align: middle; }
    footer .itemf-2 ul {
      list-style: none;
      text-align: center; }
      footer .itemf-2 ul a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 15px;
        margin-right: 20px; }
      footer .itemf-2 ul img {
        width: 26px; }
      footer .itemf-2 ul li {
        font-size: 14px;
        text-align: center;
        color: #fff; }

.itemf-3 {
  text-decoration: none;
  list-style: none; }
  .itemf-3 ul {
    display: flex;
    flex-direction: column;
    list-style: none; }
    .itemf-3 ul a {
      color: white;
      text-decoration: none; }

.redes-sociales {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #ab0000;
  border-top: solid 0.1px #414141d2; }
  .redes-sociales h1 {
    color: #fff;
    font-size: 1.2rem;
    margin-top: 20px; }
  .redes-sociales ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    color: #fff; }
    .redes-sociales ul a {
      display: flex;
      align-items: center;
      gap: 5px; }
    .redes-sociales ul img {
      width: 20px; }

.copy-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #860000;
  padding: 5px; }
  .copy-footer p {
    color: #fff;
    margin-bottom: 0; }

.as-contacto {
  position: relative;
  display: flex;
  justify-content: space-evenly; }
  .as-contacto svg {
    position: absolute;
    z-index: -1;
    bottom: -3.6rem; }
  .as-contacto .t-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .as-contacto .t-contacto h1 {
      font-size: 4.4rem;
      font-weight: 700; }
  .as-contacto img {
    width: 700px;
    height: 650px; }
  .as-contacto .cont-form form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    width: 600px;
    height: 700px; }
    .as-contacto .cont-form form input {
      padding: 10px; }
    .as-contacto .cont-form form p {
      position: relative;
      font-size: 20px;
      font-weight: 600;
      top: 32px; }
    .as-contacto .cont-form form form input, .as-contacto .cont-form form textarea {
      resize: none;
      padding: 5px; }
    .as-contacto .cont-form form .boton-enviar {
      font-size: 20px;
      font-weight: 600;
      align-self: center;
      width: 220px;
      box-shadow: 4px 4px 2px #000;
      border-radius: 10px;
      transition: 0.1s ease-in-out; }
    .as-contacto .cont-form form .boton-enviar:hover {
      color: #fff;
      border-radius: 10px;
      background-color: red;
      border: solid 2px #00000062; }
    .as-contacto .cont-form form .boton-enviar:active {
      box-shadow: 1px 1px 2px #000; }

.as-postulate {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse; }
  .as-postulate svg {
    position: absolute;
    z-index: -1;
    bottom: -7.2rem; }
  .as-postulate .t-postulate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .as-postulate .t-postulate h1 {
      font-size: 4.4rem;
      font-weight: 700; }
  .as-postulate img {
    width: 800px;
    height: 650px; }
  .as-postulate .cont-form2 {
    margin-left: 60px; }
    .as-postulate .cont-form2 form {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 12px;
      width: 600px;
      height: 800px; }
      .as-postulate .cont-form2 form input {
        padding: 8px; }
      .as-postulate .cont-form2 form p {
        position: relative;
        font-size: 20px;
        font-weight: 600;
        top: 12px; }
      .as-postulate .cont-form2 form form input, .as-postulate .cont-form2 form textarea {
        resize: none;
        padding: 5px;
        margin-bottom: 10px; }
      .as-postulate .cont-form2 form .boton-enviar {
        font-size: 20px;
        font-weight: 600;
        align-self: center;
        width: 220px;
        box-shadow: 4px 4px 2px #000;
        border-radius: 10px;
        transition: 0.1s ease-in-out; }
      .as-postulate .cont-form2 form .boton-enviar:hover {
        color: #fff;
        border-radius: 10px;
        background-color: red;
        border: solid 2px #00000062; }
      .as-postulate .cont-form2 form .boton-enviar:active {
        box-shadow: 1px 1px 2px #000; }

.main-mailing {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 20px;
  border: solid 2px; }
  .main-mailing h1 {
    font-size: 7.2rem;
    font-weight: 700; }
