@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box; }

@media (max-width: 1663px) {
  .carousel-mailing .h1-mailing a {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    text-decoration: none; }
  .carousel-mailing .draw-4 {
    display: none; }
  .contactarnos a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none; }
  .cont-draw img {
    margin-top: 40px; } }

@media (max-width: 1496px) {
  .cont-ubicados h1 {
    font-size: 4.2rem !important; }
  .cont-ganadores-h1 h1 {
    font-size: 5rem !important;
    text-align: center; }
  .s-sorteos h2 {
    margin-bottom: 20px;
    font-size: 4.5rem !important; }
  .cont-sorteos a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin: 0; } }

@media (max-width: 1360px) {
  .cont-h1-ganadores h1 {
    font-size: 4.4rem !important;
    text-align: center; }
  .t-contacto {
    margin-top: 32px; }
  .as-contacto img {
    display: none; } }

@media (max-width: 1291px) {
  .cont-texto svg {
    display: none; }
  .cont-imbatibles .svg-1 {
    display: none; }
  .cont-imbatibles {
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: center; }
  .cont-texto h1 {
    font-size: 6.2rem;
    margin: 0;
    margin-left: 40px; }
  .cont-texto p {
    margin-left: 40px; } }

@media (max-width: 1285px) {
  .cont-texto {
    height: 300px; }
  .cont-texto h1 {
    justify-content: center;
    align-items: center;
    padding: 0; }
  .cont-texto p {
    margin-top: 10px;
    margin-left: 3rem;
    padding: 0; }
  main img {
    display: none; } }

@media (max-width: 1249px) {
  .cont-imbatibles {
    margin: 0;
    text-align: center; }
  .ubicados .ubicados-aside {
    margin-top: 20px; }
  .cont-ganadores-h1 h1 {
    font-size: 4rem !important; } }

@media (max-width: 1056px) {
  .g-icon {
    display: none; }
  .g-icon2 {
    display: none; } }

@media (max-width: 1013px) {
  .cont-ubicados h1 {
    font-size: 3.2rem !important; }
  .section-2 .img-bocata-p h1 {
    font-size: 8rem !important; }
  .cont-h1-ganadores h1 {
    font-size: 3rem !important; }
  .cont-ganadores-h1 h1 {
    font-size: 3rem !important; }
  .cont-imagenes-ganadores {
    margin-top: -4rem !important; }
  .cont-imagenes-ganadores .botones-ganadores .flecha {
    display: none; } }

@media (max-width: 930px) {
  main {
    width: 100%; }
  .cont-texto {
    margin: 0; }
  .cont-texto h1 {
    text-align: center;
    font-size: 6rem; }
  .cont-texto p {
    margin-top: 30px;
    text-align: center; }
  .cont-carrousel2 .image-gallery {
    width: 800px; }
  .ubicados .ubicados-aside .draw-1 {
    width: 400px !important; } }

@media (max-width: 820px) {
  .cont-texto {
    margin: 0 !important;
    padding: 0 !important;
    height: 520px !important; }
  .cont-texto h1 {
    font-size: 4.5rem; }
  .cont-imbatibles .s-imbatibles h1 {
    margin-left: -9rem;
    font-size: 4.2rem !important;
    text-align: center !important; }
  .cont-carousel {
    height: 200px;
    overflow: hidden; }
    .cont-carousel img {
      height: 40% !important; }
  .mapa-iframe-ubicacion {
    width: 600px; }
  .cont-btn-carrou-2 {
    margin: 0;
    padding: 20px 0px 20px 0px !important; } }

@media (max-width: 772px) {
  .cont-ubicados {
    height: 100px !important; }
  .cont-ubicados h1 {
    font-size: 2.2rem !important; }
  .section-2 .img-bocata-p {
    height: 150px !important; }
  .section-2 .img-bocata-p h1 {
    font-size: 4rem !important; }
  .cont-imbatibles .s-imbatibles h1 {
    font-size: 3rem !important;
    margin: 0; }
  .s-imbatibles {
    margin: 0;
    margin-left: 0 !important; }
  .cont-imbatibles .img-promocion {
    width: 120px !important; }
  .cont-carrousel2 .svg-2 {
    display: none; }
  .cont-carrousel2 .image-gallery {
    width: 600px; }
  .mapa-iframe-ubicacion {
    width: 600px; }
  .carousel-mailing .h1-mailing h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    justify-self: center;
    align-self: center; }
  .section-ingresar-mailing div h1 {
    font-size: 3.2rem !important; }
  .as-contacto .t-contacto h1 {
    font-size: 3rem !important; }
  .cont-imagenes-ganadores {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 0;
    height: auto !important; }
  .cont-imagenes-ganadores .cont-img-btns img {
    position: relative; }
  .s-sorteos h2 {
    text-align: center; }
  .redes-sociales {
    flex-wrap: wrap; }
  footer {
    flex-wrap: wrap; } }

@media (max-width: 617px) {
  .cont-texto h1 {
    margin-left: 0 !important; }
  .carousel-inner {
    height: 400px; }
  .mapa-iframe-ubicacion {
    width: 450px; }
  .as-contacto .cont-form form {
    display: flex;
    align-items: center;
    width: 400px !important; }
  .as-contacto .cont-form form input {
    width: 400px; }
  .as-contacto .cont-form form form input, .as-contacto .cont-form form textarea {
    width: 400px; } }

@media (max-width: 577px) {
  .cont-texto h1 {
    font-size: 3.5rem !important; } }

@media (max-width: 531px) {
  .cont-texto {
    height: 360px !important; }
  .cont-ubicados {
    height: 72px !important; }
  .cont-ubicados h1 {
    font-size: 1.6rem !important; }
  .encabezado-dudas-mailing {
    height: 140px !important; }
  .encabezado-dudas-mailing h1 {
    font-size: 4.2rem !important; }
  .image-gallery {
    width: 400px !important; }
  .section-ingresar-mailing div h1 {
    font-size: 2.2rem !important; }
  .contactarnos h1 {
    font-size: 3rem !important;
    text-align: center; }
  .contactarnos p {
    font-size: 1rem !important; }
  .as-contacto .t-contacto h1 {
    font-size: 2.2rem !important; } }

@media (max-width: 497px) {
  .mapa-iframe-ubicacion {
    width: 360px;
    height: 340px; }
  .cont-texto h1 {
    font-size: 2.6rem !important; }
  .ubicados .ubicados-aside h1 {
    font-size: 20px !important; }
  .ubicados .ubicados-aside .h1-esperamos {
    font-size: 1.4rem !important; }
  .cont-imbatibles .s-imbatibles h1 {
    font-size: 2rem !important; }
  .cont-carrousel2 .image-gallery {
    width: 400px; }
  .cont-btn-carrou-2 button {
    font-size: 1rem !important; }
  .ubicados .ubicados-aside .draw-1 {
    width: 300px !important; }
  .cont-imbatibles {
    margin-bottom: 0 !important; }
  .s-sorteos h2 {
    font-size: 4rem !important; }
  .s-sorteos p {
    font-size: 1rem !important; }
  .cont-imagenes-ganadores .botones-ganadores p {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1rem !important;
    margin: 0;
    width: 200px !important; }
  .cont-imagenes-ganadores .botones-ganadores {
    justify-content: center;
    align-items: center;
    z-index: 99999 !important;
    width: 100px !important; }
  .body-ganadores {
    z-index: -1 !important; }
  .s-sorteos img {
    z-index: 0 !important; }
  .btn-ganadores-img {
    font-size: 1.6rem !important;
    width: 280px;
    z-index: 1 !important; } }

@media (max-width: 400px) {
  .cont-carrousel2 .image-gallery {
    width: 300px; }
  .carousel-mailing .h1-mailing p {
    text-align: center; }
  .image-gallery {
    width: 300px !important; }
  .contactarnos p {
    margin-top: 20px;
    text-align: center; }
  .as-contacto .t-contacto h1 {
    font-size: 1.6rem !important; }
  .as-contacto .cont-form form p {
    font-size: 14px !important; }
  .as-contacto .cont-form form {
    width: 200px !important; }
  .as-contacto .cont-form form input {
    width: 320px; }
  .as-contacto .cont-form form form input, .as-contacto .cont-form form textarea {
    width: 320px; } }

@media (max-width: 375px) {
  .mapa-iframe-ubicacion {
    width: 300px; }
  .ubicados .ubicados-aside .draw-1 {
    width: 250px !important;
    height: auto !important; }
  .section-2 .img-bocata-p h1 {
    font-size: 2.5rem !important; }
  .section-2 .img-bocata-p {
    height: 100px !important; }
  .cont-imbatibles .img-promocion {
    width: 89px !important; } }

/* BARRA DE NAVEGACION */
.navbar {
  background-color: #e30000 !important;
  border-style: none;
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.1), 0 2px 4px 2px rgba(0, 0, 0, 0.06); }

.cont-img-logo-nav {
  display: flex;
  align-items: center;
  height: 64px;
  margin-left: 1.2rem; }

.dropdown-menu[data-bs-popper] {
  background-color: #b50101;
  left: auto;
  right: 4rem; }
  .dropdown-menu[data-bs-popper] .dropdown-item {
    text-align: center;
    color: #fff; }
  .dropdown-menu[data-bs-popper] .dropdown-item:hover {
    background-color: #8b0000; }

.navbar-nav {
  text-align: center;
  --bs-nav-link-hover-color:rgb(255 255 255 / 80%); }

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #ffffffcc; }

.nav-link:focus {
  color: #fff; }

.logo-bocata {
  width: 110px; }

.navbar-brand {
  margin-left: 40px; }

.nav-link {
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  margin-right: 12px; }

.navbar-expand-lg .navbar-collapse {
  flex-direction: row-reverse;
  margin-right: 6rem; }

.nav-link a {
  margin-right: 10px; }

/* INICIO-CARROUSEL 1 */
.cont-carousel {
  border: solid 1px; }

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  margin-top: -2%;
  padding: 0; }
  main h1 {
    font-family: "Poppins" sans-serif;
    font-weight: 700;
    text-align: start;
    font-size: 6.2rem; }
  main img {
    width: 490px;
    height: 532px; }

.cont-texto {
  margin-top: 20px;
  margin-left: -4rem;
  padding: 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 860px;
  height: 600px; }
  .cont-texto .boton {
    font-family: "Poppins" sans-serif;
    font-weight: 500;
    width: 180px;
    font-size: 1.5rem;
    background-color: #202020;
    color: #fff;
    border-radius: 6px;
    padding: 6px 8px;
    border-style: none;
    transition: 0.3s ease-in-out; }
    .cont-texto .boton:hover {
      background-color: #910000;
      color: #fff; }
  .cont-texto p {
    font-size: 1.2rem;
    font-weight: 600; }

.section-2 {
  margin-bottom: 20px; }
  .section-2 .img-bocata-p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 250px;
    background: linear-gradient(rgba(0, 0, 0, 0.563), rgba(0, 0, 0, 0.601)), url("https://res.cloudinary.com/dfnton7oq/image/upload/v1714697155/samples/bocata-imgs/BANER-FONDO-HOME_w2phog.jpg");
    background-position: top;
    background-attachment: fixed; }
    .section-2 .img-bocata-p h1 {
      color: white;
      font-family: "Poppins" sans-serif;
      font-weight: 700;
      text-align: start;
      font-size: 10rem; }

.cont-imbatibles {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  z-index: 1111;
  overflow: hidden; }
  .cont-imbatibles .svg-1 {
    position: absolute;
    width: 2000px;
    right: 0;
    bottom: -12rem; }
  .cont-imbatibles .s-imbatibles {
    display: flex;
    justify-content: start;
    width: 900px;
    margin-left: 10rem;
    z-index: 1111; }
    .cont-imbatibles .s-imbatibles h1 {
      font-family: "Poppins" sans-serif;
      font-weight: 700;
      text-align: start;
      font-size: 5rem; }
  .cont-imbatibles .img-promocion {
    margin-left: 2rem;
    width: 200px;
    height: auto;
    z-index: 1; }

.cont-carrousel2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; }
  .cont-carrousel2 .svg-2 {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: -5rem;
    z-index: -1; }
  .cont-carrousel2 .image-gallery {
    position: relative;
    z-index: 1; }

.cont-btn-carrou-2 {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 20px;
  background: #c70000;
  z-index: 99999; }
  .cont-btn-carrou-2 button {
    background-color: #ec0000;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    border: solid 2px #202020;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 6px 4px 2px 2px black; }
  .cont-btn-carrou-2 button:active {
    box-shadow: 2px 2px 2px 2px black; }

.cont-ubicados {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.563), rgba(0, 0, 0, 0.601)), url("https://res.cloudinary.com/dfnton7oq/image/upload/v1714699305/samples/bocata-imgs/photo-1578916171728-46686eac8d58_r8vqa9.avif");
  background-attachment: fixed;
  height: 200px; }
  .cont-ubicados h1 {
    color: #fff;
    font-size: 6.2rem;
    font-weight: 700;
    text-align: center; }

.ubicados {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  flex-wrap: wrap; }
  .ubicados .mapa-iframe-ubicacion {
    border-radius: 10px;
    border: solid 2px #000; }
  .ubicados .ubicados-aside {
    display: flex;
    align-self: start;
    justify-self: start;
    flex-direction: column;
    text-align: center;
    width: 600px; }
    .ubicados .ubicados-aside .draw-1 {
      position: relative;
      left: 4rem;
      margin-top: 20px;
      width: 600px;
      height: auto; }
    .ubicados .ubicados-aside h1 {
      font-weight: 600;
      font-size: 32px; }
    .ubicados .ubicados-aside .h1-esperamos {
      margin-top: 10px;
      font-weight: 700;
      font-size: 2.2rem; }
    .ubicados .ubicados-aside .btn-mailing {
      margin-bottom: 10px;
      background-color: #ec0000;
      color: #fff;
      font-size: 1.2rem;
      font-weight: 600;
      border: solid 2px #202020;
      border-radius: 10px;
      padding: 10px;
      width: 190px;
      box-shadow: 6px 4px 2px 2px black; }
    .ubicados .ubicados-aside .btn-mailing:active {
      box-shadow: 2px 2px 1px 1px black; }

footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #ab0000; }
  footer img {
    width: 150px; }
  footer .itemf-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    width: 220px; }
    footer .itemf-1 a {
      display: flex;
      align-items: center;
      color: #fff !important;
      font-size: 20px;
      text-align: center;
      align-self: center; }
    footer .itemf-1 .icon-footer {
      width: 26px;
      margin-right: 10px;
      vertical-align: middle; }
    footer .itemf-1 ul {
      color: #fff;
      list-style: none; }
      footer .itemf-1 ul li {
        font-size: 14px;
        text-align: center;
        color: #fff; }
  footer .itemf-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    width: 220px; }
    footer .itemf-2 a {
      display: flex;
      align-items: center;
      color: #fff !important;
      font-size: 20px;
      text-align: center;
      align-self: center; }
    footer .itemf-2 .icon-footer {
      width: 26px;
      margin-right: 10px;
      vertical-align: middle; }
    footer .itemf-2 ul {
      list-style: none;
      text-align: center; }
      footer .itemf-2 ul a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 15px;
        margin-right: 20px; }
      footer .itemf-2 ul img {
        width: 26px; }
      footer .itemf-2 ul li {
        font-size: 14px;
        text-align: center;
        color: #fff; }
  footer .itemf-3 {
    text-decoration: none;
    list-style: none;
    margin-top: 32px; }
    footer .itemf-3 ul {
      display: flex;
      flex-direction: column;
      list-style: none; }
      footer .itemf-3 ul a {
        color: white;
        text-decoration: none; }

.redes-sociales {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: #ab0000;
  border-top: solid 1px; }
  .redes-sociales h1 {
    color: #fff;
    font-size: 1.2rem;
    margin-top: 20px;
    text-align: center; }
  .redes-sociales ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    color: #fff; }
    .redes-sociales ul a {
      display: flex;
      align-items: center;
      gap: 5px; }
    .redes-sociales ul img {
      width: 20px; }

.copy-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #860000;
  padding: 5px; }
  .copy-footer p {
    text-align: center;
    color: #fff;
    margin-bottom: 0; }

@media (max-width: 700px) {
  footer img {
    width: 150px; }
  .cont-texto p {
    padding: 0;
    margin: 0; }
  .redes-sociales ul {
    padding: 0; }
  footer .itemf-3 ul {
    padding: 2rem; }
  footer .itemf-2 {
    width: 220px; }
  footer .itemf-2 ul {
    padding: 0; }
  footer .itemf-1 ul {
    padding: 0; }
  footer {
    justify-content: center; } }

.as-contacto {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  .as-contacto svg {
    position: absolute;
    z-index: -1;
    bottom: -3.6rem; }
  .as-contacto .t-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .as-contacto .t-contacto h1 {
      font-size: 4.4rem;
      font-weight: 700; }
  .as-contacto img {
    width: 700px;
    height: 650px; }
  .as-contacto .cont-form form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    width: 600px;
    height: 700px; }
    .as-contacto .cont-form form input {
      padding: 10px; }
    .as-contacto .cont-form form p {
      position: relative;
      font-size: 20px;
      font-weight: 600;
      top: 32px;
      margin-bottom: 2rem; }
    .as-contacto .cont-form form .err-p {
      font-size: 15px;
      color: red;
      position: relative;
      top: 0rem;
      margin: 0;
      padding: 0; }
    .as-contacto .cont-form form form input, .as-contacto .cont-form form textarea {
      resize: none;
      padding: 5px; }
    .as-contacto .cont-form form .boton-enviar {
      font-size: 20px;
      font-weight: 600;
      align-self: center;
      width: 220px;
      box-shadow: 4px 4px 2px #000;
      border-radius: 10px;
      transition: 0.1s ease-in-out; }
    .as-contacto .cont-form form .boton-enviar:hover {
      color: #fff;
      border-radius: 10px;
      background-color: red;
      border: solid 2px #00000062; }
    .as-contacto .cont-form form .boton-enviar:active {
      box-shadow: 1px 1px 2px #000; }

.as-postulate {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse; }
  .as-postulate svg {
    position: absolute;
    z-index: -1;
    bottom: -7.2rem; }
  .as-postulate .t-postulate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .as-postulate .t-postulate h1 {
      font-size: 4.4rem;
      font-weight: 700; }
  .as-postulate img {
    width: 800px;
    height: 650px; }
  .as-postulate .cont-form2 {
    margin-left: 60px; }
    .as-postulate .cont-form2 form {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 12px;
      width: 600px;
      height: 800px; }
      .as-postulate .cont-form2 form input {
        padding: 8px; }
      .as-postulate .cont-form2 form p {
        position: relative;
        font-size: 20px;
        font-weight: 600;
        top: 12px; }
      .as-postulate .cont-form2 form .err-p-pos {
        font-size: 15px;
        color: red;
        position: relative;
        top: 0rem;
        margin: 0;
        padding: 0; }
      .as-postulate .cont-form2 form form input, .as-postulate .cont-form2 form textarea {
        resize: none;
        padding: 5px;
        margin-bottom: 10px; }
      .as-postulate .cont-form2 form .boton-enviar {
        font-size: 20px;
        font-weight: 600;
        align-self: center;
        width: 220px;
        box-shadow: 4px 4px 2px #000;
        border-radius: 10px;
        transition: 0.1s ease-in-out; }
      .as-postulate .cont-form2 form .boton-enviar:hover {
        color: #fff;
        border-radius: 10px;
        background-color: red;
        border: solid 2px #00000062; }
      .as-postulate .cont-form2 form .boton-enviar:active {
        box-shadow: 1px 1px 2px #000; }

.fondo-mailing {
  background-color: #f2f2f2;
  z-index: -1; }

.background-mailing {
  background: url("https://res.cloudinary.com/dfnton7oq/image/upload/v1715971266/samples/bocata-imgs/434601893_814535467370693_6833600161098087434_n_rqx3su_pdxuno.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover; }

.main-mailing {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 20px;
  border-width: 0.2px; }
  .main-mailing h1 {
    font-size: 7.2rem;
    font-weight: 700; }

.carousel-mailing {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-top: 10px; }
  .carousel-mailing .h1-mailing {
    margin-left: 4rem;
    width: 700px; }
    .carousel-mailing .h1-mailing h1 {
      font-size: 4.4rem;
      font-weight: 700; }
    .carousel-mailing .h1-mailing p {
      font-size: 1.3rem;
      font-weight: 500; }
    .carousel-mailing .h1-mailing .boton-imbatible {
      height: 60px;
      background-color: #ec0000;
      color: #fff;
      font-size: 1.6rem;
      font-weight: 600;
      border: solid 2px #202020;
      border-radius: 10px;
      padding: 10px;
      border-style: none;
      border: solid 1px #000;
      box-shadow: 6px 4px 2px 2px black;
      z-index: 999999; }
      .carousel-mailing .h1-mailing .boton-imbatible:active {
        box-shadow: 1px 1px 1px 1px black; }
  .carousel-mailing .draw-4 {
    position: absolute;
    width: 500px;
    left: 5rem;
    bottom: 40px;
    z-index: 10; }
  .carousel-mailing .image-gallery-svg {
    width: 32px; }
  .carousel-mailing .image-gallery-icon:hover {
    color: #a40000; }
  .carousel-mailing .image-gallery-thumbnails-container {
    background-color: #471515;
    box-shadow: 20px 5px 10px #000; }
  .carousel-mailing .image-gallery-thumbnail.active, .carousel-mailing .image-gallery-thumbnail:focus, .carousel-mailing .image-gallery-thumbnail:hover {
    border: solid 4px red; }
  .carousel-mailing .image-gallery-icon:focus {
    outline: red; }

.image-gallery {
  width: 900px;
  z-index: 1; }

.svg-mailing {
  position: absolute;
  left: 0;
  bottom: -4.2rem;
  z-index: 1; }

.section-ingresar-mailing {
  position: relative;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-top: 3rem;
  z-index: 1; }
  .section-ingresar-mailing div {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .section-ingresar-mailing div h1 {
      font-size: 5.2rem;
      font-weight: 700;
      text-align: center; }
  .section-ingresar-mailing .link-mailing {
    color: red; }
    .section-ingresar-mailing .link-mailing:hover {
      color: #ba0101; }

.cont-dudas-contacto-mailing {
  margin-top: 3rem;
  display: flex;
  flex-direction: column; }

.encabezado-dudas-mailing {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.563), rgba(0, 0, 0, 0.601)), url("https://res.cloudinary.com/dfnton7oq/image/upload/v1714699405/samples/bocata-imgs/photo-1516321165247-4aa89a48be28_tzriyo.avif");
  background-size: cover;
  background-attachment: fixed;
  height: 200px;
  margin-bottom: 40px; }
  .encabezado-dudas-mailing h1 {
    color: #fff;
    font-size: 7.2rem;
    font-weight: 700; }

.cont-contactarnos {
  display: flex;
  justify-content: space-around; }

.contactarnos {
  width: 800px;
  margin-left: 50px; }
  .contactarnos h1 {
    font-size: 3.6rem;
    font-weight: 700; }
  .contactarnos p {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 3.2rem; }
  .contactarnos button {
    margin: 10px;
    width: 250px;
    background-color: #ec0000;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    border: solid 2px #202020;
    border-radius: 10px;
    padding: 10px;
    border-style: none;
    border: solid 1px #000;
    box-shadow: 6px 4px 2px 2px black;
    z-index: 999999; }
    .contactarnos button:active {
      box-shadow: 1px 1px 1px 1px black; }

.body-ganadores {
  background: linear-gradient(#f9f9f9, #e8e8e8);
  z-index: -2; }

.cont-h1-ganadores {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  z-index: 1; }
  .cont-h1-ganadores svg {
    position: absolute;
    top: -5rem;
    right: 0;
    width: 100%;
    z-index: -1; }
  .cont-h1-ganadores .g-icon {
    width: 100px;
    z-index: 2; }
  .cont-h1-ganadores .g-icon2 {
    width: 100px;
    z-index: 2; }
  .cont-h1-ganadores h1 {
    font-size: 5.2rem;
    font-weight: 700;
    z-index: 1; }

.s-sorteos {
  position: relative;
  margin-top: 5rem;
  display: flex;
  justify-content: space-around; }
  .s-sorteos .svg-s-1 {
    position: absolute;
    top: -8rem;
    right: 0;
    z-index: 0; }
  .s-sorteos svg {
    position: absolute;
    left: 0;
    bottom: 0rem;
    z-index: 0; }
  .s-sorteos .cont-sorteos {
    width: 850px;
    z-index: 1; }
    .s-sorteos .cont-sorteos .btn-ganadores {
      margin-top: 10px;
      background-color: #ec0000;
      color: #fff;
      font-size: 1.6rem;
      font-weight: 600;
      border: solid 2px #202020;
      border-radius: 10px;
      padding: 10px;
      border-style: none;
      border: solid 1px #000;
      box-shadow: 6px 4px 2px 2px black;
      z-index: 999999; }
      .s-sorteos .cont-sorteos .btn-ganadores:active {
        box-shadow: 1px 1px 1px 1px black; }
  .s-sorteos h2 {
    font-size: 5.2rem;
    font-weight: 700; }
  .s-sorteos p {
    font-size: 1.4rem;
    font-weight: 600; }
  .s-sorteos img {
    position: relative;
    width: 700px;
    bottom: 5rem;
    z-index: 1; }

.cont-ganadores-h1 {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 90px; }
  .cont-ganadores-h1 h1 {
    font-size: 6.2rem;
    font-weight: 700; }

.cont-imagenes-ganadores {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-evenly;
  height: 40rem; }
  .cont-imagenes-ganadores svg {
    position: absolute;
    left: 0;
    bottom: -4rem;
    z-index: 1; }
  .cont-imagenes-ganadores .botones-ganadores {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 10px;
    height: 32rem; }
    .cont-imagenes-ganadores .botones-ganadores p {
      font-size: 1.4rem;
      font-weight: 600;
      width: 400px; }
    .cont-imagenes-ganadores .botones-ganadores .btn-ganadores-img {
      font-size: 2.2rem;
      font-weight: 600;
      background-color: red;
      color: #fff;
      border-radius: 9px;
      padding: 10px;
      border-style: none;
      border: solid 2px #000;
      cursor: pointer;
      box-shadow: 0 0.255em  #000;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
      z-index: 1; }
      .cont-imagenes-ganadores .botones-ganadores .btn-ganadores-img:hover {
        background-color: #db0303; }
      .cont-imagenes-ganadores .botones-ganadores .btn-ganadores-img:active {
        transform: translateY(4px);
        box-shadow: 0 0 0 black; }
      .cont-imagenes-ganadores .botones-ganadores .btn-ganadores-img:focus {
        background-color: #740000; }
    .cont-imagenes-ganadores .botones-ganadores .flecha {
      position: absolute;
      left: 46rem;
      width: 50px; }
  .cont-imagenes-ganadores .cont-img-btns {
    display: flex;
    align-items: center;
    position: relative; }
    .cont-imagenes-ganadores .cont-img-btns .img-flecha {
      position: absolute;
      width: 50px;
      left: -20rem;
      top: 14rem;
      border: none;
      box-shadow: none;
      cursor: auto; }
    .cont-imagenes-ganadores .cont-img-btns img {
      position: relative;
      border: solid 5px #000;
      box-shadow: 10px 10px 5px #000;
      width: 500px;
      cursor: pointer;
      z-index: 1; }

.cont-404 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: solid 2px; }
  .cont-404 h1 {
    font-size: 5.2rem;
    font-weight: 650; }
  .cont-404 p {
    font-size: 2.2rem;
    font-weight: 600; }
  .cont-404 img {
    width: 600px;
    margin-left: 4rem; }
  .cont-404 .btn-err-404 {
    font-size: 2rem;
    font-weight: 600;
    background-color: red;
    color: #fff;
    border-radius: 9px;
    padding: 10px;
    border-style: none;
    border: solid 2px #000;
    cursor: pointer;
    box-shadow: 0 0.255em  #000;
    transition: transform 0.1s ease, box-shadow 0.2s ease; }
    .cont-404 .btn-err-404:hover {
      background-color: #db0303; }
    .cont-404 .btn-err-404:active {
      transform: translateY(4px);
      box-shadow: 0 0 0 black; }
