  footer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #ab0000;
  
    img{
      width: 150px;
    }
  
    .itemf-1 {
      @include items-f;
  
      a{
        display: flex;
        align-items: center;
        color: $c_blanco !important;
        font-size: 20px;
        text-align: center;
        align-self: center;
        
      }
  
      .icon-footer {
        @include icon-footer;
      }
  
      ul {
        color: $c_blanco;
        list-style: none;
  
        li {
          font-size: 14px;
          text-align: center;
          color: $c_blanco;
        }
      }
    }
    .itemf-2{
      @include items-f;
  
      a{
        display: flex;
        align-items: center;
        color: $c_blanco !important;
        font-size: 20px;
        text-align: center;
        align-self: center;
      }
  
      .icon-footer{
        @include icon-footer;
      }
  
      ul{
        list-style: none;
        text-align: center;

        a{
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          font-size: 15px;
          margin-right: 20px;
        }
        
        img{
          width: 26px;
        }
  
        li {
          font-size: 14px;
          text-align: center;
          color: $c_blanco;
        }
      }
    }
    .itemf-3{
      text-decoration: none;
      list-style: none;
      margin-top: 32px;
     
  
      ul{
        display: flex;
        flex-direction: column;
        list-style: none;
  
        a{
          color: white;
          text-decoration: none;
        }
      }
    }
  }

.redes-sociales{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: #ab0000;
  border-top: solid 1px;

  h1{
    color: $c_blanco;
    font-size: 1.2rem;
    margin-top: 20px;
    text-align: center;
  }

  ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    color: $c_blanco;

    a{
      display: flex;
      align-items: center;
      gap: 5px;
    }

    img{
      width: 20px;
    }
  }
}

.copy-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #860000;
  padding: 5px;

  p{
    text-align: center;
    color: $c_blanco;
    margin-bottom: 0;
  }
}

@media (max-width: 700px){
  footer img{
    width: 150px;
  }

  .cont-texto p{
    padding: 0;
    margin: 0;
  }

  .redes-sociales ul{
    padding: 0;
  }

  footer .itemf-3 ul{
    padding: 2rem;
  }

  footer .itemf-2{
    width: 220px;
  }

  footer .itemf-2 ul{
    padding: 0;
  }

  footer .itemf-1 ul{
    padding: 0;
  }

  footer{
    justify-content: center;
  }
}