@import './variables';
  footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ab0000;
    height: 200px;
  
    img{
      width: 150px;
    }
  
    .itemf-1 {
      @include items-f;
  
      a{
        display: flex;
        align-items: center;
        color: $c_blanco !important;
        font-size: 20px;
        text-align: center;
        align-self: center;
        
      }
  
      .icon-footer {
        @include icon-footer;
      }
  
      ul {
        color: $c_blanco;
        list-style: none;
  
        li {
          font-size: 14px;
          text-align: center;
          color: $c_blanco;
        }
      }
    }
    .itemf-2{
      @include items-f;
  
      a{
        display: flex;
        align-items: center;
        color: $c_blanco !important;
        font-size: 20px;
        text-align: center;
        align-self: center;
      }
  
      .icon-footer{
        @include icon-footer;
      }
  
      ul{
        list-style: none;
        text-align: center;

        a{
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          font-size: 15px;
          margin-right: 20px;
        }
        
        img{
          width: 26px;
        }
  
        li {
          font-size: 14px;
          text-align: center;
          color: $c_blanco;
        }
      }
    }
  }

  .itemf-3{
    text-decoration: none;
    list-style: none;
    margin-top: 32px;

    ul{
      display: flex;
      flex-direction: column;
      list-style: none;

      a{
        color: white;
        text-decoration: none;
      }
    }
  }

.redes-sociales{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #ab0000;
  border-top: solid 0.1px #414141d2;

  h1{
    color: $c_blanco;
    font-size: 1.2rem;
    margin-top: 20px;
  }

  ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    color: $c_blanco;

    a{
      display: flex;
      align-items: center;
      gap: 5px;
    }

    img{
      width: 20px;
    }
  }
}

.copy-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #860000;
  padding: 5px;

  p{
    color: $c_blanco;
    margin-bottom: 0;
  }
}