@import './variables';

/* INICIO-CARROUSEL 1 */
.cont-cont-carrousel{
    background-color: rgb(189, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .cont-carrousel{
    width: 1600px;
    height: auto;
  }

  .carousel-item{
    width: 100%;
    height: 650px;
    
   img{
    height: 100%;
    object-fit: cover;
   }
  }  
// MAIN

main{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap-reverse;
margin-top: -2%;
padding: 0;

  h1{
    font-family: "Poppins" sans-serif;
    font-weight: 700;
    text-align: start;
    font-size: 6.2rem;
  }

  img{
    width: 490px;
    height: 532px;
  }
}

.cont-texto{
  margin-top: 20px;
  margin-left: 89px;
  padding: 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 860px;
  height: 600px;

  svg{
    position: absolute;
    right: 0;
    bottom: -42rem;
    z-index: -1;
  }

  .boton {
    font-family: "Poppins" sans-serif;
    font-weight: 500;
    width: 180px;
    font-size: 1.5rem;
    background-color: $c_negro;
    color: $c_blanco;
    border-radius: 6px;
    padding: 6px 8px;
    border-style: none;
    transition: 0.3s ease-in-out;
  
    &:hover {
      background-color: $c_rojo;
      color: $c_blanco;
    }
  }

  p{
    font-size: 1.2rem;
    font-weight: 600;
  }
}

.section-2{
  margin-bottom: 20px;
  .img-bocata-p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 250px;
    background:linear-gradient(rgba(0, 0, 0, 0.563), rgba(0, 0, 0, 0.601)), url('https://res.cloudinary.com/dfnton7oq/image/upload/v1714697155/samples/bocata-imgs/BANER-FONDO-HOME_w2phog.jpg');
    background-position: top;
    background-attachment: fixed;

    h1{
      color: white;
      font-family: "Poppins" sans-serif;
      font-weight: 700;
      text-align: start;
      font-size: 10rem;
    }
  }
}

.cont-imbatibles{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  // border-top: solid 4px;
  // border-bottom: solid 4px;
  z-index: 1111;
  overflow: hidden;
  // border-bottom: solid 2px;

  .svg-1{
    position: absolute;
    width: 2000px;
    // height: 200px;
    right: 0;
    bottom: -12rem;
  }

  .s-imbatibles{
    display: flex;
    justify-content: start;
    width: 900px;
    margin-left: 10rem;
    z-index: 1111;
      h1{
      
      font-family: "Poppins" sans-serif;
      font-weight: 700;
      text-align: start;
      font-size: 5rem;
      
  }
}

.img-promocion{
  margin-left: 2rem;
  width: 200px;
  height: auto;
  z-index: 1;
}

}

// CARROUSEL 2 SECTION 3

.cont-cont-carrousel2{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  
  .svg-2{
    position: absolute;
    width: 100%;
    // height: 200px;
    right: 0;
    bottom: -5rem;
    z-index: -1;
  }

  .carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: #ffffffa6;
    border-radius: 20px;
  }

  .carousel-control-next-icon{
    color: black;
    background-color: black;
    padding: 10px;
  }

  .carousel-control-prev-icon{
    color: black;
    background-color: black;
    padding: 10px;
  }

  .carousel-item{
    border: solid 2px;
    width: 1000px;
    height: auto;
    transition: none;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 41px 6px 2px 4px rgba(0, 0, 0, 0.75);
    z-index: 1;
    

    img{
      height: 100%;
      object-fit: cover;
    }
  }
}

.cont-btn-carrou-2{
  position: relative;
  display: flex;
  justify-content: center;
  padding: 20px;
  background: #c70000;
  z-index: 99999;

  button{
    background-color: #ec0000;
    color: $c_blanco;
    font-size: 1.6rem;
    font-weight: 600;
    border: solid 2px $c_negro;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 6px 4px 2px 2px rgb(0, 0, 0);
  }

  button:active{
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
  }

}

.cont-ubicados{
  display: flex;
  justify-content: center;
  align-items: center;
  background:linear-gradient(rgba(0, 0, 0, 0.563), rgba(0, 0, 0, 0.601)), url('https://res.cloudinary.com/dfnton7oq/image/upload/v1714699305/samples/bocata-imgs/photo-1578916171728-46686eac8d58_r8vqa9.avif');
  background-attachment: fixed;
  height: 200px;

  h1{
    color: $c_blanco;
    font-size: 6.2rem;
    font-weight: 700;
  }
}

.ubicados{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  // border: solid 2px;
  flex-wrap: wrap;

  .mapa-iframe-ubicacion{
    border-radius: 10px;
    border: solid 2px #000;
  }

  .ubicados-aside{
    display: flex;
    align-self: start;
    justify-self: start;
    flex-direction: column;
    // flex-wrap: wrap;
    text-align: center;
    // border: solid 2px;
    width: 600px;

    .draw-1{
      position: relative;
      left: 4rem;
      margin-top: 20px;
      width: 600px;
      height: auto;
    }

    h1{
      font-weight: 600;
      font-size: 32px;
    }

    .h1-esperamos{
      margin-top: 10px;
      font-weight: 700;
      font-size: 2.2rem;
    }

    .btn-mailing{
      margin-bottom: 10px;
      background-color: #ec0000;
      color: $c_blanco;
      font-size: 1.2rem;
      font-weight: 600;
      border: solid 2px $c_negro;
      border-radius: 10px;
      padding: 10px;
      width: 190px;
      box-shadow: 6px 4px 2px 2px rgb(0, 0, 0);
    }

    .btn-mailing:active{
      box-shadow: 2px 2px 1px 1px rgb(0, 0, 0);
    }
  }
}