@import './variables';

/* BARRA DE NAVEGACION */
.navbar{
    background-color: rgb(227, 0, 0) !important;
    border-style: none;
    box-shadow: $sombra;
  }
  
  .cont-img-logo-nav{
    display: flex;
    align-items: center;
    // border: solid 2px;
    height: 64px;
    margin-left: 6rem;
  }

  .dropdown-menu[data-bs-popper]{
    background-color: #b50101;
    left: auto;
    right: 6rem;

    .dropdown-item{
      text-align: center;
      color: $c_blanco;
    }

    .dropdown-item:hover{
      background-color: #8b0000;
    }
  }

  .navbar-nav{
    text-align: center;
  }
  
  .logo-bocata{
    width: 110px;
  }
  
  .navbar-brand{
    margin-left: 40px;
  }
  
  .nav-link{
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    margin-right: 32px;
  }
  
  .navbar-expand-lg .navbar-collapse{
    flex-direction: row-reverse;
    margin-right: 5rem;
  }