@import './variables';

/* BARRA DE NAVEGACION */
.navbar{
    background-color: rgb(227, 0, 0) !important;
    border-style: none;
    box-shadow: $sombra;
  }
  
  .cont-img-logo-nav{
    display: flex;
    align-items: center;
    // border: solid 2px;
    height: 64px;
    margin-left: 1.2rem;
  }

  .dropdown-menu[data-bs-popper]{
    background-color: #b50101;
    left: auto;
    right: 4rem;

    .dropdown-item{
      text-align: center;
      color: $c_blanco;
    }

    .dropdown-item:hover{
      background-color: #8b0000;
    }
  }

  .navbar-nav{
    text-align: center;
    --bs-nav-link-hover-color:rgb(255 255 255 / 80%);
  }

  .navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: #ffffffcc;
  }

  .nav-link:focus{
    color: $c_blanco;
  }
  
  .logo-bocata{
    width: 110px;
  }
  
  .navbar-brand{
    margin-left: 40px;
  }
  
  .nav-link{
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    margin-right: 12px;
    // margin: 0;
  }
  
  .navbar-expand-lg .navbar-collapse{
    flex-direction: row-reverse;
    margin-right: 6rem;
  }

  .nav-link a{
    margin-right: 10px;
  }